
body{
    background-color:rgb(208, 230, 238);
}
.nav{
    margin: auto ;
    
    height: 5rem;
    
}
.navlink{

  padding: 1.8rem;
 color: white;
}

.nav-link:hover{
 background-color: aquamarine;
 
}

.header{
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
}

.card{
    background-color: black;
    color: white;
    overflow: hidden;
}
.img{
    height:15rem ;
    overflow: hidden;
    filter: grayscale(0);
}

.overlay {
    position: absolute;
    bottom:  0;
    color: white;
    height: 0;
    margin-bottom: -2rem;
    background-color: rgba(0, 0, 0, 0.404);
    overflow: hidden;
    transition: 1s ease-in-out;
  }

  .card:hover .overlay{
    height: auto;
    margin-bottom: 0;
      
  }

  .card:hover .img{
    filter: grayscale(100%);
  }

  .cardtext{
    font-size: 0.8rem;
  }